

.accordion_toggle{
	text-align:center;
	padding:20px;
	width:100%;
	background-color: black;
	color:white;
	font-family: 'Anta';
}

.accordion_toggle:hover{
	background:#eee;
}

.accordion_content{
	display:none;
	padding: 20px;
	text-align:center;
	background-color: rgb(24, 23, 23);
	color:white;
	font-family: 'Anta';
}

.accordion_content--visible{
	display:block;
	
}

.Submit-button{
	background-color: black;
	color: white;
	font-family: 'Anta';
	padding:10px;
	border: 2px solid black;
	border-radius: 30px;
}